<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
  <img width="150" alt="Angular Logo" src="assets/images/logo.png">
</div>
<h4>Here are some mowers: </h4>

<input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file .txt" accept="text/plain">
    <button type="button" mat-stroked-button color="primary" (click)="Upload()">Charger le fichier</button>
<br><br>
<table>
  <tr *ngFor="let caseCol of zoneVertiY; let posInY = index">
    <td *ngFor="let caseligne of zoneHorizX; let posInX = index">
        <div class="zoneInfo">({{caseligne}},{{caseCol}})</div>
        <div class="mowers" *ngFor="let mower of aMowers">
          <div *ngIf="caseligne == mower['position']['x'] && caseCol == mower['position']['y']"  style.color="{{mower['color']}}">
            <p>{{mower['name']}} :</p> 
            <p>({{mower['position']['x']}} , {{mower['position']['y']}} , {{mower['position']['direction']}})</p>
          </div>
        </div>
    </td>
  </tr>
</table>

<br><br>
<p *ngIf="message && message !== ''" >{{message}}</p>
<button *ngIf="aMowers"  type="button" mat-raised-button color="warn" (click)="startInstruction()">Start Instruction</button>
